body{
background-color: bisque;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
font-style: italic;
text-align: right;
font-size: larger;
color: blueviolet;
}
h2{
   text-decoration: wavy; 
color: aquamarine;
font-weight: 900;
}